{% extends 'base.html' %}

{% block content %}

<style>
form {
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.form-group select {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.form-group input[type="file"] {
  margin-top: 10px;
}

.btn-primary {
  background-color: #fe6a00;
  border-color: #fe4500;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #d54000;
  border-color: #d54000;
}
h1{
  margin: 2rem;
}

</style>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4">Add Menu Item</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">{{ form.making_time.label_tag }}</div>
              <div class="col-md-4">{{ form.price.label_tag }}</div>
              <div class="col-md-4">{{ form.rating.label_tag }}</div>
            </div>
            <div class="row">
              <div class="col-md-4">{{ form.making_time }}</div>
              <div class="col-md-4">{{ form.price }}</div>
              <div class="col-md-4">{{ form.rating }}</div>
            </div>
          </div>
          <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
          </div>
          <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
          </div>
          <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="font-family: 'Montserrat', sans-serif;">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
